<div class="container">

  <div class="row">

    <div class="col-md-4 offset-md-4">       

      <%= form_with(url: login_path, scope: :session, local: true, class: "row g-4 be-form") do |f| %>          
        <%= f.text_field :name, class: 'form-control login-field', placeholder: "Username", autofocus: true %>
        <%= f.password_field :password, class: 'form-control login-field', placeholder: "Password" %>
        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>
    </div>

  </div>
  
</div>