<div class="container">
 
  <div>

    <div class="row">
      <div class="col-lg-10 offset-lg-1">
       
        <div class="row">
          
          <!-- left col -->
          <div class="col-lg-7">
         
            <div>
              <h1 class="headline jost display-5 pull-up">
                Agaba Philip
              </h1>
              
              <p class="about-me jost">
                I maintain hundreds of Linux and Windows Servers
                on-premise, and in the cloud. I manage MySQL and Oracle Databases.
                I write software in Java, PLSQL and Python.
                I also automate systems with Ansible and Puppet. In fact, I’ve authored
                <a href="https://www.pluralsight.com/authors/philip-agaba"
                  target="_blank">a few Pluralsight courses</a> on Linux, C programming, and Puppet configuration management.
              </p>
            </div>
         
          </div>
          <!-- left col -->

          <!-- right col -->
          <div class="d-none d-lg-block col-lg-5">                
            <%= image_tag("man-holding-a-book.png",
              alt: "man holding a book", class: "img-fluid") %>
          </div>
          <!-- right col -->
          
        </div> <!-- row -->
        
      </div>
    </div> <!-- row -->

  </div>

</div>