<div class="container">
 
  <div>

    <div class="row">
      <div class="col-lg-10 offset-lg-1">
       
        <div class="row">
          
          <!-- left col -->
          <div class="col-lg-7">
         
            <div>
              <h1 class="headline text-center text-break fira-m pull-up display-4">
                philip@agabyte.com
              </h1>
            </div>
         
          </div>
          <!-- left col -->

          <!-- right col -->
          <div class="d-none d-lg-block col-lg-5">
            <%= image_tag("two-cars-backing-each-other.png",
              alt: "two cars backing each other", class: "img-fluid") %>
          </div>
          <!-- right col -->
          
        </div> <!-- row -->
        
      </div>
    </div> <!-- row -->

  </div>

</div>