<%= form_with(model: lesson, local: true, class: "row g-3 be-form") do |form| %>
    
  <%= render 'layouts/errors', object: @lesson %>

  <div class="field">
    <%= form.label :course_id, class: "form-label" %>
    <%= form.number_field :course_id, class: "form-control" %>
  </div>

     <div class="field">
    <%= form.label :position, class: "form-label" %>
    <%= form.number_field :position, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_area :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :url, class: "form-label" %>
    <%= form.text_area :url, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :duration, class: "form-label" %>
    <%= form.text_field :duration, class: "form-control" %>
  </div>

  <div class="d-grid gap-2">
    <%= form.submit class: "btn btn-primary btn-block" %>
  </div>
  
<% end %>