<div class="container-fluid handlee">
  <div class="row">
     <div class="col-10 offset-1">
        <p id="notice"><%= notice %></p>

        <h1 class="display-4">All Lessons</h1>

        <table class="table fw-normal">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col" class="text-center">Len</th>
              <th scope="col" class="text-center">Course</th>
              <th scope="col" colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% @lessons.each do |lesson| %>
              <tr>
                <td><%= lesson.id %></td>
                
                <td><%= sanitize lesson.title %></td>
                
                <td class="text-center"><%= lesson.duration %></td>
                <td class="text-center"><%= lesson.course_id %></td>
                                
                <td>
                  <%= link_to edit_lesson_path(lesson) do %>
                  <span class="material-icons-outlined pen">edit</span>
                  <% end %>
                </td>
                
                <td>
                  <%= link_to lesson, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="material-icons-outlined trash">delete_forever</span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Lesson', new_lesson_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>