<div class="container" style="margin-top: -20px">

  <div class="row">
    
    <div class="col-6 offset-3 display-6">

      <p>
        <strong>Position:</strong>
        <%= @lesson.position %>
      </p>

      <p>
        <strong>Title:</strong>
        <%= @lesson.title %>
      </p>

      <p>
        <strong>Duration:</strong>
        <%= @lesson.duration %>
      </p>

      <p>
        <strong>Course:</strong>
        <%= @lesson.course_id %>
      </p>

      <%= link_to 'Edit Lesson', edit_lesson_path(@lesson) %> |
      <%= link_to 'View Course', @lesson.course %> |
      <%= link_to 'New Lesson', new_lesson_path %>

    </div>

  </div>

</div>