<%= form_with(model: course, local: true, class: "row g-3 be-form") do |form| %>

  <%= render 'layouts/errors', object: @course %>

  <div class="field">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :position, class: "form-label" %> <br>
    <%= form.number_field :position, class: "form-control" %>
  </div>
  
  <div class="field">
    <%= form.label :duration, class: "form-label" %>
    <%= form.text_field :duration, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :overview, class: "form-label" %>
    <%= form.text_area :overview, rows: 7, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :objectives, class: "form-label" %>
    <%= form.text_area :objectives, rows: 7, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :notes, class: "form-label" %>
    <%= form.text_area :notes, rows: 7, class: "form-control" %>
  </div>
  
  <div class="field">
    <%= form.label :color, class: "form-label" %>
    <%= form.text_field :color, class: "form-control" %>
  </div>
  
  <div class="d-grid gap-2">
    <%= form.submit class: "btn btn-primary" %>
  </div>
  
<% end %>