<% unless params[:search] %>
<div class="container d-none d-xl-block">
 
  <div>

    <div class="row">
      <div class="col-lg-12">
       
        <div class="row">
          <div class="col-lg-7">
         
<!--
            <div>
              <h1>
                Linux is for<br>
                <span id="spiel" class="pome"></span>
              </h1>                
            </div>
-->
            
            
            <div>
              <h1 class="headline fira-m tagline">
                Learn to code,
                <br>change your life               
              </h1>              
<!--              <p class='display-2'>Expertly curated screencasts for the modern professional</p>  -->
            </div>

         
          </div> <!-- col -->
          
          
          <div class="d-none d-lg-block col-lg-5">
            <%= image_tag("man-and-lady-on-laptop.webp",
              alt: "Man and lady on laptop", class: "img-fluid") %>
          </div>
        </div> <!-- row -->
        
      </div>
    </div> <!-- row -->

  </div>

</div>
<% end %>

<div id="courses">
     
  <div class="container">
      
    <div class="row">
    
      <div class="col-lg-12">
       
        <div class="row fira-m">
          <h1 style="margin-top: -50px;" class="display-5 fw-bold">
            <% unless params[:search] %>
              Catalog
            <% else %>
              <% if @courses.length == 0 %>
                No Results
              <% else %>
                Search Results
              <% end %>
            <% end %>
          </h1>
        </div>
        
        <div class="row" style="margin-top: 15px">
          
          <% @courses.each do |course| %>
          
          <!-- Track -->
          <div class="mb-5 col-lg-4 col-md-6">
          <%= link_to course do %>
            <div class="pt-3 px-3 fira-m cards" style="box-shadow: -5px 5px <%= course.color %>; border: 2px solid <%= course.color %>;">
              <div class="centre">
                <div class="row">
                  <div class="col-12">

                    <span class="card-type oxym">
                      <%= "#{course.lessons.count} videos" if course.lessons.count > 0 %>
                      <%= "Microdegree" unless course.lessons.count > 0 %>
                      <hr>
                    </span>

                    <div class="row">
                      <div class="col-md-11">
                        <h2> <%= course.title %> </h2>
                      </div>
                    </div>
                  </div> <!-- col-12 -->
                  
                  <div class="col-12">
                    <span> <%= course.duration %> </span>
                  </div>
                  
                  <div class="offset-10 col-2">
                    <% if course.lessons.count > 0 %>
                    <span class="material-icons-outlined">video_library</span>
                    <% else %>
                    <span class="material-icons-outlined school">school</span>
                    <% end %>
                  </div>

                </div> <!-- centre -->
              </div> <!-- centre -->
            </div> <!-- cards -->
          <% end %>
          </div> <!-- col-lg-4 -->         
          
          <% end %>
          
        </div>
      </div>
          
    </div> <!-- row -->
        
  </div> <!-- container -->
      
</div> <!-- courses -->

<!-- Rotate Banner Text -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
<script>
  $(function () {
      var messages = [],
          index = 0;

      messages.push('Everyone!');
      messages.push('the System Architect');
      messages.push('the Network Admin');
      messages.push('the DevOps Engineer');

      function cycle() {
          $('#spiel').html(messages[index]);
          index++;

          if (index === messages.length) {
              index = 0;
          }

          setTimeout(cycle, 3000);
      }

      cycle();
  });
</script>
