<div class="container-fluid">
  <div class="row">
     <div class="col-10 offset-1">
        <p id="notice"><%= notice %></p>

        <h1>
          <%= link_to @course do %>
            <%= sanitize @course.title %>
          <% end %>
          
          <%= link_to edit_course_path(@course) do %>
            <i class="ps-5 fas fa-pen-alt"></i>
          <% end %>
        </h1>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Lesson</th>
              <th scope="col" class="text-center">Len</th>              
              <th scope="col" colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% @lessons.each do |lesson| %>
              <tr>
                <td><%= lesson.position %></td>
                
                <td><%= sanitize lesson.title %></td>
                
                <td class="text-center"><%= lesson.duration %></td>
                                
                <td>
                  <%= link_to edit_lesson_path(lesson) do %>
                    <i class="fas fa-pen-alt"></i>
                  <% end %>
                </td>
                
                <td>
                  <%= link_to lesson, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fas fa-dumpster"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Lesson', new_lesson_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>