<div class="container">
 
  <div>

    <div class="row">
     
      <!-- main col -->
      <div class="col-lg-12">
       
        <div class="row">
         
          <!-- left col -->
          <div class="col-lg-7 pull-up">
         
           <div>
              <h1 class="headline engle display-3"><%= @course.title %></h1>
              
              <div id="overview" class="jost"><%= sanitize @course.overview %></div>
              
              <div id="objectives">                
                <h2 class="engle">
                  <%= "What you'll learn" if @course.lessons.size > 0 %>
                  <%= "Learning Path" unless @course.lessons.size > 0 %>
                </h2>

                <div class="engle">
                  <%= sanitize @course.objectives %>
                </div> 
              </div>
              
              <% if @course.lessons.count > 0 %>
              <div id="lessons">
                <h2 class="engle mb-5 mt-2">Lessons</h2>
                
                <div class="row engle">
                  <% @lessons.each do |lesson| %>

                  <!-- lesson -->
                  <div class="col-12 <%= "lesson-container" unless lesson.position == 1 %> ">

                    <a href="" class="lesson" data-bs-toggle="modal" data-bs-target="#<%= "#{lesson.title.partition(" ").first}-#{lesson.position}" %>">
                      
                      <div class="row">
                        
                        <div class="col-1"> <%= lesson.position.to_s.rjust(2, '0') %>. </div>
                        <div class="col-9"> <%= sanitize lesson.title %> </div>

                        <div class="col-2">
                          <span class="duration">
                            <%= lesson.duration %>
                          </span>
                        </div>

                      </div> <!-- row -->
                      
                    </a>

                  </div>

                  <!-- lesson -->
                  
                  <!-- Modal -->
                  <div class="modal fade" id="<%= "#{lesson.title.partition(" ").first}-#{lesson.position}" %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl odal-ialog-entered">
                     
                      <div class="modal-content">
                        
                        <div class="modal-body" style="background: #000">
                          <div class="ratio ratio-16x9">
                            <iframe modestbranding="1" src="<%= lesson.url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>
                        </div>
                        
                        <div class="modal-footer">
                          <div class="container">
                            <div class="row">
                              <div class="col-lg-10"><%= sanitize lesson.title %></div>
                              <div class="col-lg-2">
                                <button style="padding: 10px 30px; font-size: 20px;" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                Close
                              </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      
                    </div>
                  </div>
                  <!-- Modal -->
                  
                  <% end %>
                </div>
                
              </div>
              <% end %>
              
            </div>

          </div>
          <!-- left col -->

          <!-- right col -->
          <div class="d-none d-lg-block col-lg-5">
           
            <div class="fira-m side-box" style="border: 2px solid <%= @course.color %>;
             box-shadow: 3px 1px 0px 2px <%= @course.color %>, 0px -1px 0px 2px <%= @course.color %>;">
            
              <%= sanitize @course.notes %>
              
              <% if logged_in? %>
                <hr>

                <ul class="fw-bold text-center ptserif">
                  <li>
                    <a href="/courses/<%= @course.id %>/lessons">
                      Manage this Course
                    </a>
                  </li>
                </ul>
              <% end %>
              
            </div>
            
          </div>
          <!-- right col -->
          
        </div> <!-- row -->
        
      </div>
      <!-- main col -->
      
    </div> <!-- row -->

  </div>

</div>

<!-- Stop video when Modal closes -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
  $(document).ready(function(){
      $('.modal').each(function(){
              var src = $(this).find('iframe').attr('src');
          $(this).on('click', function(){
              $(this).find('iframe').attr('src', '');
              $(this).find('iframe').attr('src', src);
          });
      });
  });
</script>
