body {
  font-family: 'Englebert', sans-serif; 
  font-weight: 700;
  padding-top: 250px;
}

/*
@media screen and (max-device-width: 768px) {
  body { padding-top: 100px; }
}
*/

@media screen and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    body { padding-top: 250px; }
}

a { text-decoration: none; color: inherit !important; font-weight: normal; }

/* .amatic { font-family: "Amatic SC", cursive; } */
/* .handlee { font-family: 'Handlee', cursive; } */
/* .kalam { font-family: "Kalam", cursive; } */
/* .ptserif { font-family: 'PT Serif', serif; } */
/* .monty { font-family: 'Montserrat', sans-serif; } */
/* .reenie { font-family: "Reenie Beanie", cursive; } */
/* .cprime { font-family: 'Courier Prime', monospace; } */
.jost { font-family: 'Jost', sans-serif; }
.fira-m { font-family: 'Fira Mono', monospace; }
.engle { font-family: 'Englebert', sans-serif; }

.pome { color: #c0392b; }
.font-weight-bold { font-weight: bold; }

.highlight { background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #f1c40f 110%); padding: 0 1px; }
.pink:hover { color: pink !important; }

#spiel { font-size: 65px; }
h1 { font-size: 75px; font-weight: bold; }

.headline {
  position: relative; font-weight: 800; color: #000; padding: 30px 0;
  width: 100%; max-width: 500px; z-index: 1; align-self: center;
  border-top: solid 1px; border-bottom: solid 1px;
}

.tagline { font-size: 50px; margin: 0; line-height: 1.4; }

#courses { margin-top: 100px; }

@media screen and (max-width: 768px) {
  #courses { margin-top: -100px; }
  .pull-up { margin-top: -150px; }
}

#overview {
  /*  font-family: "PT Serif", serif;*/
  font-size: 30px; font-weight: normal; padding-top: 20px;  
}
#objectives, #lessons {
  padding-top: 55px; font-size: 30px;
}
#objectives h2, #lessons h2 {
  font-weight: bold; font-size: 45px; padding: 0;
  margin-bottom: 30px; margin-top: -20px;
}


#lessons > h2 { margin-bottom: -15px; }

.polaroid {
  border: 1px solid #dfdfdf; background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
  padding: 5px 0; width: 100%;
  margin-bottom: 40px; text-align: center;
}

.rotate-right {
  float: left; -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Safari */
  transform: rotate(7deg);
  border-top: 2px solid #be2edd !important;
}
.rotate-left {
  float: left;
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Safari */
  transform: rotate(-8deg);
  border-top: 2px solid #d35400 !important;
}

.lesson { color: inherit; font-weight: normal; }
.lesson-container { border-top: 1px solid #000; padding-top: 20px; }
.lesson:hover { color: pink !important; }

.duration { font-size: 17px; }

.modal-body { padding: 0 !important; }
.modal-footer { border: none; }

.side-box {
  font-weight: normal;
  font-size: 25px;
  padding: 20px 10px;
  /* border: 2px solid #000; */
  /* box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62); */
  transform: skew(3deg, -3deg);
}

.side-box ul { list-style-type: none; padding-left: 0; }
.side-box a { color: inherit; }

table { font-size: 30px; }
.trash { color: #e74c3c; }
.pen { color: #2ecc71; }
.school { color: #eb4d4b !important; }
.material-icons-outlined { font-size: 30px !important; }

.btn-primary { background-color: #000; border: #000; }
.btn-primary:hover { background-color: #333; border: #000; }
.btn, .be-form { font-size: 30px; }
.btn { border-radius: 0; font-weight: bold; }
.be-form textarea, .be-form input[type="text"] {
  color: #000; font-weight: bold; font-family: "Roboto", sans-serif; }

.centre>h2>.card-type { color: #7f8c8d !important; }
.cards span { font-size: 15px;}
.cards h2 { font-size: 25px; line-height: 45px; }
.cards span, .cards h2 { color: #000; font-weight: 800; }
.card-type { font-weight: bold !important; }

.about-me, .contact-me {
  font-weight: normal; font-size: 25px; padding-top: 20px;
}
.about-me a {
  text-decoration: underline; text-decoration-style: double; color: #e15f41;
}

.login-field {
  color: #000;
  font-size: 20px;
  font-weight: normal !important;
  border: 2px solid #000;
  border-radius: 0;
  box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
  width: 99%;
}

#footer { margin: 100px 0 22px 0; }

/* CSS Animations */

/* 
.heading-1, .heading-2, .heading-3 { font-size: 65px; font-weight: bold; }

.heading-1 { animation: animateHeading 12s 1s infinite; }
.heading-2 { animation: animateHeading 12s 5s infinite; }
.heading-3 { animation: animateHeading 12s 9s infinite; }

@keyframes animateHeading {
  0% { transform: translateZ(8rem); opacity: 0; }
  3% { transform: translateZ(0); opacity: 1; }
  25% { transform: translateZ(0); opacity: 1; }
  28% { transform: translateZ(8rem); opacity: 0; }
  100% { transform: translateZ(8rem); opacity: 0; }
}

.banner-heading { perspective: 50rem; }
.banner-heading span {
  position: absolute;
  transform: translateZ(8rem);
  opacity: 0;
} */
