<div class="container">
  <div id="footer">
    <div class="row">
      <div class="col-2 offset-5">
        <%= link_to root_path do %>
          <%= image_tag("logo.jpg",
              alt: "Red Car Zooming off", class: "img-fluid") %>
        <% end %>
      </div>
    </div>
  </div>
</div>