<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="mt-3 container-fluid">
    <a class="d-none d-lg-block navbar-brand three-d-btn cta bg" href="<%= root_path %>">AGABYTE</a>
    <div class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="me-5 navbar-toggler-icon"></span>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="mt-5 navbar-nav me-auto mb-2 mb-lg-0">
        <li class="ms-5 ms-lg-3 nav-item">
          <a class="nav-link" aria-current="page" href="<%= root_path %>">Home</a>
        </li>
        <li class="ms-5 ms-lg-3 nav-item">
          <a class="nav-link" href="<%= about_url %>">About Me</a>
        </li>
        <li class="ms-5 ms-lg-3 nav-item">
          <!-- <a class="nav-link" href="<%#= contact_url %>">Contact Me</a> -->
          <a class="nav-link" href="https://www.linkedin.com/in/agabaphilip/" target="_blank">Contact Me</a>
        </li>
        <% if logged_in? %>
          <li class="ms-5 ms-lg-3 nav-item">
            <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
          </li>
        <% end %>
      </ul>      
      
      <%= form_tag courses_path, :method => "get", class: "mt-5 mb-2 ms-5 me-5", id: "search-form" do %>
        <label>

          <%= text_field_tag :search, params[:search], :required => true, :id => "nil" %>
          
          <ul>
            <li s>s</li><li e>e</li><li a>a</li><li r>r</li><li c>c</li><li h>h</li>
          </ul>
          
        </label>
        
      <% end %>
      
    </div>
  </div>
</nav>